/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 
 
 *,
 *:before,
 *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
 }
 
 
 html,
 body {
    height: 100%;
 }
 
 
 body {
     font-size: 1.6rem;
    /* font-size 1.6 is now the same as 16px */
    line-height: 10.6;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(6,75,164,1) 49%, rgba(0,212,255,1) 100%);

 }
 @keyframes stretching {
    0% {
      width: 100px;
    }
    100% {
      width: 500px;
    }
  }
@keyframes bgcolor {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
  
  .button {
    display: inline-block;
    background: linear-gradient(90deg,
    rgba(0,36,36,1) 0%,
    rgba(9,119,121,1) 28%,
    rgba(61,6,164,1) 49%,
    rgba(244,16,255,1) 100%);
    animation-name: stretching;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    height: 100px;
  }
  